body, html {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    font-family: "Lobster", sans-serif;
    font-size: 20px;
}

.spinner {
    width: 100px;
    height: 100px;
    border: 10px solid #ccc;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    margin-bottom: 20px;
}

.spinner.active {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: green;
}

/*footer*/
footer {
    background-color: #20232a;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
    color: #61dafb;
    width: 100%;
    position: absolute; /* Se asegura de que el footer esté al final de la página */
    bottom: 0;
}

footer a {
    color: #61dafb;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}