body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: Arial, sans-serif;
}

.carousel-container {
    width: 80%;
    overflow: hidden;
    position: relative;
    flex: 1; /* Hace que el contenido principal ocupe el espacio disponible */
    margin: auto;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.carousel img:hover {
    transform: scale(1.1);
}

.carousel img:active {
    transform: scale(0.9);
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.prev, .next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
}

footer {
    background-color: #20232a;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
    color: #61dafb;
    width: 100%;
    position: absolute; /* Se asegura de que el footer esté al final de la página */
    bottom: 0;
}

footer a {
    color: #61dafb;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}